@import "app.css";
* {
    box-sizing: border-box;
}

body{
    height:100vh;
    padding: 8px 0;
    margin: 0;
    background-image: url(cloudy_sky.svg);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
}

h1{
    font-size: 2em;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 1em;
}

input{
    display:block;
    padding: 8px;
    height: 64px;
    width: 100%;
    background:#4896acb0;
    color: #ebe6cd;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

textarea {
    background:#4896acb0;
    padding: 8px;
    color: #ebe6cd;
    height: 160px;
    width: 100%;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

button {
    display: block;
    width: 100%;
    height: 64px;
    background: #2637d179;
    color: #ebe6cd;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    border: 3px solid rgba(255, 255, 255, 0.5);
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #6771d179;
    outline: 3px solid #fff;
    transition: all .5s ease;
}


/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 1px solid #fff;
    background: #178eafb0;
    transition: all .5s ease;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
    outline: 1px solid #fff;
    transition: all .5s ease;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #ebe6cd; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #ebe6cd; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #ebe6cd; 
    font-family: 'Oswald', sans-serif;

} 